body {
    color : aqua;
    background : yellow;
}

p {
    color:orange;
}

.my-title{
    color : white;
    background-color:  black;
}

#my-h3 {
    color : #E9D1B0;
    font-size: 5em;

    position: fixed;
    bottom:10px;
    right:10px;
}

footer {
    color:red  !important ;
}

.my-footer {
    color:green;
}

#footer-id{
    color:blue;
}

.my-img {
    width: 50%;
}


.img-center {
    display: flex;
    width: 100%;
    justify-content: center;
}





@media only screen and (max-width: 1200px){
    .my-img {
        width: 100%;
    }

    body {
        color: aqua;
        background-color: blue;
    }
}


@media only screen and (max-width: 900px){
    .my-img {
        width: 100%;
    }

    body {
        color: aqua;
        background-color: yellow;
    }
}

@media only screen and (max-width: 768px){
    .my-img {
        width: 100%;
    }

    body {
        color: aqua;
        background-color: green;
    }
}


@media only screen and (max-width: 400px){
    .my-img {
        width: 100%;
    }

    body {
        color: aqua;
        background-color: red;
    }
}
